<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="logs/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File" name="msfile" fileName="logs/microsoft-${shortdate}.log">
        <layout xsi:type="JsonLayout">
            <attribute name="time" layout="${longdate}" />
            <attribute name="level" layout="${level:upperCase=true}"/>
            <attribute name="logger" layout="${logger}"/>
            <attribute name="message" layout="${message}" />
             <attribute name="properties" encode="false" >
                 <layout type='JsonLayout' includeAllProperties="true" maxRecursionLimit="1">
                    <attribute name="exception" layout="${exception:format=tostring}" />
                 </layout>
             </attribute>
        </layout>
      </target>
      
    <target xsi:type="File" name="allfile" fileName="logs/nlog-all-${shortdate}.log">
        <layout xsi:type="JsonLayout">
            <attribute name="time" layout="${longdate}" />
            <attribute name="level" layout="${level:upperCase=true}"/>
            <attribute name="logger" layout="${logger}"/>
            <attribute name="message" layout="${message}" />
             <attribute name="properties" encode="false" >
                 <layout type='JsonLayout' includeAllProperties="true" maxRecursionLimit="1">
                    <attribute name="exception" layout="${exception:format=tostring}" />
                 </layout>
             </attribute>
        </layout>
      </target>
      
    <target xsi:type="File" name="contextfile" fileName="logs/contexts-${shortdate}.log">
        <layout xsi:type="JsonLayout">
            <attribute name="time" layout="${longdate}" />
            <attribute name="level" layout="${level}"/>
            <attribute name="logger" layout="${logger}"/>
            <attribute name="message" layout="${message}" />
             <attribute name="properties" encode="false" >
                 <layout type='JsonLayout' includeAllProperties="true" maxRecursionLimit="2">
                    <attribute name="exception" layout="${exception:format=tostring}" />
                 </layout>
             </attribute>
        </layout>
      </target>
      
    <target xsi:type="Console" name="console">
        <layout xsi:type="JsonLayout">
            <attribute name="time" layout="${longdate}" />
            <attribute name="level" layout="${level}"/>
            <attribute name="logger" layout="${logger}"/>
            <attribute name="message" layout="${message}" />
             <attribute name="properties" encode="false" >
                 <layout type='JsonLayout' includeAllProperties="true" maxRecursionLimit="2">
                    <attribute name="exception" layout="${exception:format=tostring}" />
                 </layout>
             </attribute>
        </layout>
      </target>

  </targets>

  <rules>
    <logger name="Microsoft.*" writeTo="msfile" final="true" />
    <logger name="entry_*" final="true" />
    <logger name="context_*" writeTo="contextfile" />
    <logger name="*" writeTo="allfile,console" />
  </rules>
</nlog>